@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&family=Tenor+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Della+Respira&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');

@import "~bootstrap/scss/bootstrap";

$main-color: #e2ac48;
$secondary-color: #f5cf8a;
$light-theme: #fff;
$dark-theme: #000;

.app {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  overflow: hidden;
  font-size: 16px;
  font-weight: bolder;
}

.app > * {
  box-sizing: border-box;
}

.site-header {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 600;
}

.navbar > * {
  z-index: 150;
}

.navbar {
  width: 100%;
  margin: auto;
  height: 100%;
  padding: 8px 80px;
  // background-color: ;
  // border-bottom: 2px solid black;
 
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  transition: background-color 0.2s;
  cursor: pointer;

  // &:hover {
  //   background-color: #1c1c1c;
  // }

    li {
    font-size: 1.1rem;
    text-transform: uppercase;
    font-family: 'Della Respira', serif;
    font-family: 'Poppins', sans-serif;
    // font-weight: bolder;
    letter-spacing: 1px;
    line-height: 1.6;
    color: #fff;
    cursor: pointer;
    display: flex;
    align-items: center;
    // text-shadow: 1px 1px 5px $dark-theme;

      &:hover {
      color: $main-color;
      text-shadow: none;
      }
    }
  }

  .navbar-nav {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;

      li {
        font-size: 1.5rem;
        margin-right: 40px;
      }

      p {
        height: 100%;
        font-family: 'Dancing Script', cursive;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 3rem;
        font-weight: normal;
        color: #fff;
        text-shadow: none;
        position: relative;
        z-index: 20;
        margin-right: 40px;
        margin: 0;
        padding: 0;
     }

     
      
  }

  .navbar-links {
    display: flex;
    justify-content: flex-end;

    li {
      margin-left: 40px;
      color: #fff;
    }
  }

  .navbar-transparent {
    background-color: none;
  }

  .navbar-fill {
    background-color: #1a1010;
  }

  .navbar li::after {
    content: '';
    width: 0%;
    height: 2px;
    // background-color: #f1b443;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    transition: all 0.3s;
  }

  .navbar li:hover > .navbar li::after {
    width: 100%;
  }

  .main-page-container {
    width: 100%;
    min-height: 100vh;  
    background-color: #1a1010;
    position: relative;
    
  
    .main {
      width: 100%;
      height: 100%;
      min-height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      padding-top: 50px;
    }
  
    .main-bg {
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
    }
  
    .main-content {
      width: 100%;
      height: 100%;
      max-width: 500px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      text-align: left;
      padding: 55px 80px;
      z-index: 200;
      flex: 1 1 auto;
  
      img {
        width: 200px;
        height: auto;
        margin-bottom: 20px;
      }
  
      h6 {
        font-family: 'Roboto', sans-serif;
        font-weight: lighter;
        color: #fff;
        font-size: 0.8rem;
        text-shadow: 1px 1px 15px #000;
        position: relative;
        margin-bottom: 10px;
      }
      h4 {
        font-family: 'Poppins', sans-serif;
        letter-spacing: 1px;
        font-weight: bolder;
        font-size: 2rem;
        color: #fff;
        text-shadow: 1px 1px 15px #000;
        margin-top: 40px;
        position: relative;
        padding-bottom: 20px;
        margin-bottom: 20px;
        margin-top: 30px;
  
        &::after {
          content: '';
          position: absolute;
          width: 300px;
          height: 2px;
          background-color: $main-color;
          bottom: 0;
          left: 0;
        }
      }
  
      button {
        outline: none;
        box-shadow: 1px 1px 10px 1px $dark-theme;
        transition: all 0.3s;
        box-sizing: content-box;
        outline: none;
        color: $main-color;
        border: none;
        border: 2px solid $main-color;
        box-shadow: none;
        background-color: #251818;
        padding: 12px 25px;
        width: 150px;
        animation: glow1 3s ease-in-out infinite;

        @keyframes glow1 {
          0% {
            transform: scale(1);
          }
          50% {
            transform: scale(1.02);
          }
          100% {
            transform: scale(1);
          }
        }
  
        p {
          margin: 0;
        }
      }
    }
  }

.landing-page-container > *,
.navbar > * {
    z-index: 500;
  }

.landing-page-container {
  width: 100%;
  min-height: 100vh;
  // background-image: url(./img/bg-magnesia.png);
  // background-size: cover;
  // background-position: center;
  background-color: #180c0c;
  // background-attachment: fixed;
  overflow: initial;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;

  // &::after {
  //   content: '';
  //   width: 100%;
  //   height: 100%;
  //   position: absolute;
  //   bottom: 0;
  //   left: 0;
  //   background-color: #00000050;
  //   z-index: 10;
  //}
}

.landing-info-container > * {
  z-index: 300; 
}

.padding-box {
  padding: 50px 180px;
}

.landing-info-container {
  width: 100%;
  margin: auto;
  overflow: hidden;
  height: 500px;
  // background-color: #25252590;
  background-image: url(./img/bg-1.png);
  background-size: cover;
  background-position: center;
  border: 2px solid $main-color;
  margin-top: 70px;
  // padding: 25px 60px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: relative;
  box-shadow: 5px 5px 15px 3px #000;
  

  &::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #00000060;
    z-index: 10;
  }
}

.landing-info {
  margin: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  // height: 300px;
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  // background-color: #000;
  // border: 2px solid $secondary-color;
  border-radius: 2px;
  box-sizing: border-box;
  // transform: skewX(-12deg );
  // background-color: $dark-theme;
  // box-shadow: 5px 5px 25px 2px #000;
  flex-wrap: wrap;

  
  h3 {
    font-family: 'Poppins', sans-serif;
    // text-shadow: 1px 1px 10px $main-color;
    font-size: 1.2rem;
    font-weight: bolder;
    color: #fff;
    // transform: skewX(12deg);
    margin-bottom: 15px;
    padding-bottom: 8px;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      background-color: $light-theme;
      width: 80px;
      height: 1px;
    }
    // text-transform: uppercase;
  }

  img {
    margin: 0;
    width: 200px;
    height: auto;
    // transform: skewX(12deg);
  }

  p {
    color: white;
    // transform: skewX(12deg);
    // font-family: 'Dancing Script', cursive;
    // font-weight: lighter;
  }
}

.landing-title {
  height: 100%; 
  // background-color: red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 0;
  margin: auto;
  // display: none;

  h1 {
    font-family: 'Roboto', sans-serif;
    text-shadow: 1px 1px 10px $dark-theme;
    font-size: 2.6rem;
    font-weight: bolder;
    letter-spacing: 1px;
    color: white;
    text-transform: uppercase;
    margin-bottom: 20px;
    position: relative;
    padding-bottom: 20px;

    &::after {
      content: '';
      margin: auto;
      height: 2px;
      width: 80%;
      background-color: $main-color;
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%);
    }
  }

  button {
    outline: none;
    padding: 15px 55px;
    transform: skewX(-12deg);
    background-color: $light-theme;
    border: none;
    font-weight: bolder;
    color: $dark-theme;
    animation: glow 3s ease-in-out infinite;
    box-shadow: 1px 1px 10px 1px $dark-theme;
    transition: all 0.3s;

    &:hover {
      background-color: #131116;
      color: $main-color;
    }

    @keyframes glow {
      0% {
        transform: skewX(-15deg) scale(1);
      }
      50% {
        transform: skewX(-15deg) scale(1.05);
      }
      100% {
        transform: skewX(-15deg) scale(1);
      }
    }

    p {
      transform: skewX(15deg);
      margin: 0;
    }
  }
}

.landing-button {
    margin: auto;
    outline: none;
    width: 300px;
    padding: 15px 0;
    background-color: #1a1010;
    border: none;
    font-weight: bolder;
    color: $main-color;
    animation: glow 3s ease-in-out infinite;
    box-shadow: 1px 1px 10px 1px $dark-theme;
    transition: all 0.3s;
    border: 2px solid $main-color;
    box-sizing: content-box;

    &:hover {
      background-color: $main-color;
      color: $dark-theme;
      border: 2px solid $main-color;
    }

    @keyframes glow {
      0% {
        transform: scale(1);
      }
      50% {
        transform: scale(1.03);
      }
      100% {
        transform: scale(1);
      }
    }

    p {
      margin: 0;
    }
}

// .about-container > * {
//   z-index: 500;
// }

.about-container {
  width: 100%;
  background-color: #fff;
  background-attachment: initial;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 60px 0;
  position: relative;
  
}

.about-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  padding: 20px;
}

.about-left {
  padding: 0px;
  flex: 1;
  float: left;
  text-align: left;

  h5 {
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: bolder;
    color: #e6ac42;

  }

  h2 {
    font-family: 'Poppins', sans-serif;
    // text-shadow: 1px 1px 10px $dark-theme;
    font-size: 3.4rem;
    font-weight: bolder;
    color: #000;
    // text-transform: uppercase;
    margin: 5px 0px;
    position: relative;
    margin-bottom: 40px;
    padding-bottom: 40px;

    &::after {
      content: '';
      background: $main-color;
      width: 80px;
      height: 3px;
      border-radius: 25px;
      position: absolute;
      left: 0;
      bottom: 0px;
    }
  }

  p {
    margin-bottom: 30px;
    color: #000;
    font-size: 1.2rem;
  }

}

.about-right {
  flex: 1;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    vertical-align: top;
    width: 100%;
    height: auto;
  }
}

.features-container {
  margin: auto;
  padding: 15px 0;
  width: 100%;
  background-color: #1a101099;
  // margin-top: 50px;
  z-index: 300;
  // position: absolute;
  // bottom: 0;
  // left: 0;

}

.features-box {
  padding: 10px 0;
  height: 100%;
  border-radius: 2px;
  border: 2px solid $main-color;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: 2.2rem;
  

  svg {
    color: #fff;
  }

  h4 {
    font-size: 1.1rem;
    margin-top: 10px;
    padding-top: 10px;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      width: 130px;
      left: 50%;
      top: 0;
      height: 1px;
      transform: translateX(-50%);
      background-color: $main-color;
    }
  }

  // &:nth-child(-n+2)::after{
  //   content: '';
  //   background-color: #fff;
  //   width: 2px;
  //   height: 80%;
  //   bottom: 0;
  //   right: 0;
  //   position: absolute;
  // }
}

.offer-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: space-evenly;
  background-color: #fff;
  padding-top: 10px;
  position: relative;

  // &::before {
  //   content: '';
  //   width: 70%;
  //   height: 2px;
  //   border-radius: 25px;
  //   background-color: $main-color;
  //   position: absolute;
  //   top: 0;
  //   left: 50%;
  //   transform: translateX(-50%);

  // }

  .line {
    width: 70%;
    height: 2px;
    border-radius: 25px;
    background-color: $main-color;
    margin: auto;
    margin-bottom: 40px;
  }

  button {
    padding: 15px 65px;
    background-color: #242424;
    color: $main-color;
    margin: auto;
    outline: none;
    border: none;
    // text-transform: uppercase;
    // font-weight: bolder;
    // border: 1px solid #242424;
    box-shadow: 3px 3px 8px 0px #000;
    margin-bottom: 10px;
    position: relative;
    
  }

  .offer-header {
    margin: auto;
    font-size: 2.2rem;
    color: #252525;
    margin-bottom: 25px;
    font-weight: bolder;
  }
}



.contact-container {
  width: 100%;
  padding: 60px;
  position: relative;
  background-image: url(./img/rings-bg.jpg);
  background-position: center;
  background-size: cover;

  h4 {
    font-size: 3.4rem;
    text-transform: uppercase;
    color: #fff;
    position: relative;
    font-weight: bolder;
    display: none;
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #24242499;
    z-index: 100;
  }
}

.contact-items {
  width: 100%;
  height: 100%;
  padding: 20px;
  display: flex;
  align-items: space-evenly;
  justify-content: center;
  padding: 60px 10px;

}

.contact-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: $secondary-color;
  // text-shadow: 1px 1px #242424;
  font-weight: normal;
  padding: 15px;
  // background-color: #24242499;
  // border: 2px solid $main-color;

  .contact-icon {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #242424;
    color: $secondary-color;
    border: 1px solid $secondary-color;
    margin-bottom: 10px;
    font-size: 1.3rem;
    position: relative;
  }

  p {
    font-size: 0.9rem;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: $secondary-color;
  }
}

.contact-container * {
  z-index: 300;
}

footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 0;

  p {
    margin: 0;
  }
}



@media (max-width: 992px) {

  html {
    font-size: 14px;
  }

  // .app {
  //   font-size: 14px;
  // }

  .navbar {
    padding: 10px 20px;
  }

  .navbar-links {
    li {
      font-size: 1rem;
    }
  }
  
  .navbar-nav {
    p {
      font-size: 1.8rem;
    }
  }

  .main-page-container {

    .main {
      padding: 0 25px;
      padding-top: 80px;
    }

    .main-content {
      background-color: #1a1010;
      background-image: url(./img/bg-1.png);
      background-position: center;
      background-size: cover;
      border: 1px solid $main-color;
      box-shadow: 1px 1px 10px 1px #000;
      padding: 50px 45px;
      max-width: 100%;
      margin: 15px 0px;
      margin-right: 10px;
      // align-items: center;

      h4 {
        font-size: 1.5rem;
        margin-bottom: 10px;
        padding-bottom: 10px;

        // &::after{
        //   left: 50%;
        //   transform: translateX(-50%);
        // }
        &::after {
          content: '';
          position: absolute;
          width: 200px;
          height: 2px;
          background-color: $main-color;
          bottom: 0;
          left: 0;
        }
      }
    }

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #1a101070;
    }

    .features-container {
      border: 1px solid $main-color;
      margin-bottom: 15px;
    }

    .features-box {
      border: none;
      padding: 5px 0;
    }
    
  }

  .padding-box {
    padding: 50px 60px;
  }

  .landing-title {
    h1 {
      font-size: 1.9rem;
    }
  }
}

@media (max-width: 576px) {

  html {
    font-size: 12px;
  }

  .navbar {
    padding: 10px 25px;
  }

  .navbar-links {
    display: none;
  }

  .navbar-nav {
    width: 100%;
    justify-content: space-between;
  }

  .main-page-container {
    .main-content {
      padding: 30px 15px;

      h4 {
        margin-top: 20px;
        font-size: 1.2rem;

        &::after {
          width: 100px;
          height: 1px;
        }

        // &::after{
        //   left: 50%;
        //   transform: translateX(-50%);
        // }
      }

      img {
        width: 100px;
        height: auto;
  
      }

      button {
        font-size: 0.6rem;
        width: 80px;
        padding: 10px 10px;
        border: 1px solid $main-color;
      }
    }
  }

  .padding-box {
    padding: 50px 45px;
  }

  .landing-info-container {
    height: 350px;
  }

  .landing-info {
    h3 {
      font-size: 1rem;
    }

    img {
      margin: 0;
      width: 160px;
      height: auto;
      // transform: skewX(12deg);
    }
  }

  .landing-title {
    h1 {
      font-size: 1.7rem;
    }
  }
}

